// Fonts
@import url('https://fonts.googleapis.com/css?family=Robot');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: "Roboto";
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-1{
    height: 100vh;
    background-image: url('/img/home/background-img1.jpg');
  }
  .background-1 .container{
    color: white;
  }
  .background-1 .container h1{
      letter-spacing: 10px;
  }
